openapi: 3.2.0
info:
  title: OTO API V2 Customer Notifications API
  version: 2.0.0
  description: Introduction OTO REST API provides seamless integration for managing shipments, tracking deliveries, and handling logistics operations.
  contact:
    name: OTO Support
    url: https://help.tryoto.com/en/support/home
  x-source: derived from published OTO API V2 Postman collection (apis.tryoto.com)
servers:
- url: https://api.tryoto.com/rest/v2
  description: Production
- url: https://staging-api.tryoto.com/rest/v2
  description: Staging / sandbox
security:
- bearerAuth: []
tags:
- name: Customer > Notifications
  description: ''
paths:
  /rest/v2/orders/{orderId}/customer-notifications:
    get:
      operationId: customernotifications
      summary: Customer Notifications
      tags:
      - Customer > Notifications
      description: 'This endpoint allows you to retrieve all system-generated customer communication artifacts related to a specific order. It enables you to fully control your customer communication by consuming these artifacts and sending them through your own CRM, ERP, or communication platforms. The API endpoint provides the below customer notifications if generated and still valid. You can configure the actionTypes: Tracking Link Feedback (Rating) Link Undelivered Attempt Link Delivery Slot Selection Link Addr'
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                orderId: '123456'
                actions:
                - type: trackingLink
                  value: https://tracking-link...
                - type: feedbackLink
                  value: https://feedback-link...
                - type: clickCollectOTP
                  channel: OTP
                  value: '458921'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Obtain an access_token by POSTing your refresh_token to /refreshToken, then send Authorization: Bearer <access_token>.'
