openapi: 3.2.0
info:
  title: OTO API V2 Authorization API
  version: 2.0.0
  description: Introduction OTO REST API provides seamless integration for managing shipments, tracking deliveries, and handling logistics operations.
  contact:
    name: OTO Support
    url: https://help.tryoto.com/en/support/home
  x-source: derived from published OTO API V2 Postman collection (apis.tryoto.com)
servers:
- url: https://api.tryoto.com/rest/v2
  description: Production
- url: https://staging-api.tryoto.com/rest/v2
  description: Staging / sandbox
security:
- bearerAuth: []
tags:
- name: Authorization
  description: 'You need your refresh_token for authorization. You can obtain your token from the UI by following these steps: Go to Settings → API Integrations . Click the Connect button to activate your Refresh Token . The refresh_token can only be used to get a new access_token . Use the access_token to call oth'
paths:
  /rest/v2/refreshToken:
    post:
      operationId: refreshToken
      summary: Refresh Token
      tags:
      - Authorization
      description: 'This API endpoint is used to obtain a new access_token by providing a valid refresh_token . The access_token is a temporary token with a lifespan of one hour, used to authenticate and authorize all subsequent API requests. Include the access_token in the request headers as: Authorization: Bearer access_token To adhere to security standards, it is recommended to renew the access_token periodically (every hour) to maintain uninterrupted access to the API while minimizing security risks. This endpo'
      requestBody:
        content:
          application/json:
            example:
              refresh_token: refresh_token
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                access_token: ey**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************Tg
                refresh_token: AMf-****************************************************************************************************************************************************************************************************************************************************************************************************************VQ
                success: true
                token_type: Bearer
                expires_in: '3600'
      security: []
  /rest/v2/healthCheck:
    get:
      operationId: healthCheck
      summary: Health Check
      tags:
      - Authorization
      description: This API endpoint is used to check if the system is working properly
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                status: ok
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Obtain an access_token by POSTing your refresh_token to /refreshToken, then send Authorization: Bearer <access_token>.'
