openapi: 3.2.0
info:
  title: OTO API V2 Shipping Label(AWB) API
  version: 2.0.0
  description: Introduction OTO REST API provides seamless integration for managing shipments, tracking deliveries, and handling logistics operations.
  contact:
    name: OTO Support
    url: https://help.tryoto.com/en/support/home
  x-source: derived from published OTO API V2 Postman collection (apis.tryoto.com)
servers:
- url: https://api.tryoto.com/rest/v2
  description: Production
- url: https://staging-api.tryoto.com/rest/v2
  description: Staging / sandbox
security:
- bearerAuth: []
tags:
- name: Shipping Label(AWB)
  description: ''
paths:
  /rest/v2/print/orderId:
    get:
      operationId: orderId
      summary: Print AWB
      tags:
      - Shipping Label(AWB)
      description: 'This API endpointallows you to access print URL for generated Air Waybill (AWB) for shipments. An AWB is a crucial document used in air delivery transport that contains essential shipping information. Request Parameters: Name Required Type Description orderId yes string Order id of the order to be printed internationalProforma no boolean If set to true, the response will include the International Proforma for international shipments. printReverseShipment no boolean Generates the AWB for a revers'
      responses:
        '200':
          description: 200-Print AWB
          content:
            application/json:
              example:
                dcTrackingNumber: ''
                success: true
                printAWBURL: https://app.tryoto.com/print/awb?enc=eyJjb21wYW55SWQiOiIxNzA2OCIsImlkcyI6WzMwMDQzMjc5XX0=
                deliveryCompany: saudiPostV2
                trackingNumber: GNTUPD0042953826
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Obtain an access_token by POSTing your refresh_token to /refreshToken, then send Authorization: Bearer <access_token>.'
