openapi: 3.0.3
info:
  title: OTO API V2
  version: 2.0.0
  description: 'Introduction OTO REST API provides seamless integration for managing shipments, tracking
    deliveries, and handling logistics operations. With powerful endpoints for creating, updating, and
    querying shipments, it ensures efficient and reliable communication between your systems and OTO''s
    platform. Overview We continuously analyze the e-commerce and logistics industries to enhance shipping
    and fulfillment processes, making them easier for vendors. OTO APIs are designed to automate and simplify
    key logistics operations, including: 🚀 Order Management – Process, update, and sync orders seamlessly.
    🚀 Shipment Management – Create, manage, and track shipments effortlessly. 🚀 Return Management – Handle
    return requests and reverse logistics smoothly. 🚀 Stock Inventory Management – Keep inventory levels
    updated in real-time. 🚀 Product Management – Organize, update, and synchronize products efficiently.
    🚀 Warehouse Management – Add, update, organize pickup locations. You can find guidance to assist you
    throughout the integration process here . Base URL: All API requests must be made over HTTPS to the
    following base endpoint: https://api.tryoto.com Meet our new OTO AI Assistant 🤖— a smart AI agent
    designed to help you navigate and use our REST API with ease. Whether you''re integrating for the
    first time or need help troubleshooting a request, our assistant is here to provide instant answers,
    example json responses, guide you through endpoints, and help you build faster.'
  contact:
    name: OTO Support
    url: https://help.tryoto.com/en/support/home
  x-source: derived from published OTO API V2 Postman collection (apis.tryoto.com)
servers:
- url: https://api.tryoto.com/rest/v2
  description: Production
- url: https://staging-api.tryoto.com/rest/v2
  description: Staging / sandbox
tags:
- name: Plan-Based API Access
  description: API functionality is structured across subscription tiers, where basic operations are available
    in lower plans and advanced features, integrations, and system modules are unlocked in higher tiers.
    Below you can find the OTO API access plan. Endpoint Free Plan Starter Plan Scale Plan Pro Plan Enterpr
- name: Release Notes
  description: 'April 2026 Release Notes 🚀 Enhancement: Feasibility-Based Shipping Option Filtering We
    are introducing a new optional request parameter that enables clients to control whether feasibility
    rules should be applied before returning shipping options. This enhancement is available for the following
    endpo'
- name: Sandbox Account
  description: 'Use the sandbox environment to create and test new configurations without affecting your
    live data. This helps you validate changes safely before deployment. Dev URL: https://staging-api.tryoto.com
    Please watch the guide to create a test account.'
- name: Use Cases and Flows
  description: ''
- name: Authorization
  description: 'You need your refresh_token for authorization. You can obtain your token from the UI by
    following these steps: Go to Settings → API Integrations . Click the Connect button to activate your
    Refresh Token . The refresh_token can only be used to get a new access_token . Use the access_token
    to call oth'
- name: Account
  description: ''
- name: Transactions
  description: ''
- name: Marketplace
  description: ''
- name: Orders
  description: ''
- name: Shipping Prices
  description: ''
- name: Shipments
  description: ''
- name: Return Shipments
  description: ''
- name: Shipping Label(AWB)
  description: ''
- name: Tracking
  description: ''
- name: Customer Notifications
  description: ''
- name: Carrier Integrations
  description: ''
- name: Pickup Locations
  description: ''
- name: Brands
  description: ''
- name: Sales Channels
  description: ''
- name: Products
  description: ''
- name: Stock Management
  description: ''
- name: National Address
  description: ''
- name: Webhook
  description: WEBHOOK for ORDER There are 3 types of webhook for now, newOrders, orderStatus , shipmentError
    and walletTransaction. OTO will push updates to the registered webhook endpoint for the orderStatus
    type whenever an order status changes. This includes statuses such as Processing, Delivered, Returned,
    an
- name: OTO FLEX
  description: ''
- name: List Of Statuses
  description: Status Stage Description new Order Management New order missingData Order Management The
    order is missing required information to proceed with shipment creation paymentConfirmed Order Management
    Payment is confirmed for the order waitingAddressConfirmation Order Management Order waits address
    confir
- name: Error Codes
  description: HTTP Status Codes Error Code Error Description 200 SUCCESS 400 BAD REQUEST 403 FORBIDDEN
    404 NOT FOUND 409 CONFLICT 500 INTERNAL_SERVER_ERROR OTO Error Codes Error codes and messages are
    returned as otoErrorCode and otoErrorMessage responses. OTO Error Code OTO Error Description OTO1001
    Invalid or m
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Obtain an access_token by POSTing your refresh_token to /refreshToken, then send Authorization:
        Bearer <access_token>.'
security:
- bearerAuth: []
paths:
  /rest/v2/refreshToken:
    post:
      operationId: refreshToken
      summary: Refresh Token
      tags:
      - Authorization
      description: 'This API endpoint is used to obtain a new access_token by providing a valid refresh_token
        . The access_token is a temporary token with a lifespan of one hour, used to authenticate and
        authorize all subsequent API requests. Include the access_token in the request headers as: Authorization:
        Bearer access_token To adhere to security standards, it is recommended to renew the access_token
        periodically (every hour) to maintain uninterrupted access to the API while minimizing security
        risks. This endpo'
      requestBody:
        content:
          application/json:
            example:
              refresh_token: refresh_token
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                access_token: ey**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************Tg
                refresh_token: AMf-****************************************************************************************************************************************************************************************************************************************************************************************************************VQ
                success: true
                token_type: Bearer
                expires_in: '3600'
      security: []
  /rest/v2/healthCheck:
    get:
      operationId: healthCheck
      summary: Health Check
      tags:
      - Authorization
      description: This API endpoint is used to check if the system is working properly
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                status: ok
      security: []
  /rest/v2/accountInfo:
    get:
      operationId: accountInfo
      summary: Account Info
      tags:
      - Account
      description: 'This API endpoint retrieves detailed information about the authenticated user''s account.
        This includes general profile details, current subscription and balance of the account. Note:
        You can only see the account information that your token belongs to. Response Body: name: full
        name of the account owner email: email address belong to the account mobileNumber: mobile number
        belong to the account packageName: current subscription package name( scalePackage, enterprisePackage
        etc.) remainingCredit: '
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                remainingCredit: 1578.46
                remainingFreeShipments: '0'
                mobileNumber: '9664564845222'
                accountType: personal
                CRDocStatus: NOT_UPLOADED
                name: testUserEnterprise
                packageName: EnterprisePackage
                email: testEmail_enterprise@tryoto.com
                freelanceDocStatus: INDIVIDUAL
  /rest/v2/buyCredit:
    post:
      operationId: buyCredit
      summary: Buy Credit
      tags:
      - Account
      description: 'Provide amount of credit you wanted to buy, this will response a paymentURL and paymentID
        . Request Parameters: Name Required Type Description amount yes number the amount of credit wanted
        to buy'
      requestBody:
        content:
          application/json:
            example:
              amount: 13.5
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
                paymentID: chg_LV03G2920250933Jk9c2603152
                paymentURL: https://checkout.tap.company/?mode=page&themeMode=&language=en&token=eyJhbGciOiJIUzI1NiJ9.eyJpZCI6IjY3ZTM5ZmI5OGE3Y2NkMWQwZGE1NzlhMSJ9.71AJo8AcbO96of1mbvGLZR7x2cnrcquiwJii0zOGLmE
  /rest/v2/requestMobileVerification:
    post:
      operationId: requestMobileVerification
      summary: Request Mobile Verification
      tags:
      - Account
      description: 'This API endpoint allows you to use a phone number to request a verification token
        (OTP) for account/phone number verification. Marketplaces can also use this endpoint to verify
        their sellers’ phone numbers. Verification can be done in verifyMobileNumber. Request Parameters:
        Name Required Type Description phone yes string Phone number to be verified Response body includes
        success , errorMsg , otoErrorCode , otoErrorMessage when success is false.'
      requestBody:
        content:
          application/json:
            example:
              phone: '+905365042516'
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
                token: fa4f8d03-451c-44f7-9262-10fe193e854d
  /rest/v2/verifyMobileNumber:
    post:
      operationId: verifyMobileNumber
      summary: Verify Mobile Number
      tags:
      - Account
      description: 'This API endpoint verifies a user’s mobile phone number by confirming the one-time
        password (OTP) sent via SMS. The endpoint requires the phone number, the OTP received, and the
        token obtained from the requestMobileVerification step. Once successfully verified, the phone
        number is confirmed for account or seller verification purposes. Request Parameters: Name Required
        Type Description phone yes string The phone number to verify (same as in step 1, in E.164 format).
        code yes string The OTP receiv'
      requestBody:
        content:
          application/json:
            example:
              phone: '+905365042516'
              code: '4739'
              token: fa4f8d03-451c-44f7-9262-10fe193e854d
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
  /rest/v2/getShippingPriceTransactionsList:
    post:
      operationId: getShippingPriceTransactionsList
      summary: Get Shipping Price Transactions List
      tags:
      - Transactions
      description: 'This API endpoint provides details of your Shipping Price Transactions, calculated
        based on your configured shipping price settings. By providing either the Order ID or Shipment
        ID, you can retrieve the shipping cost along with other transactional details. Important Note:
        The results from this API apply only to shipments created using your configured shipping price
        contracts. Shipping costs are calculated based on factors such as weight, destination, and other
        predefined configurations. Request '
      requestBody:
        content:
          application/json:
            example:
              shipmentId: '2302416029'
              orderId: OID-22700-1013
            schema:
              type: object
      responses:
        '200':
          description: 200 Order ID and Shipmetn ID request example
          content:
            application/json:
              example:
                success: true
                count: 1
                shippingTransactions:
                - amount: 11
                  orderID: OID-9618-1062
                  shipmentID: '290615409716'
                  description: shipment created
                  orderStatus: shipmentCreated
                  ID: 1347
                  transactionDate: 2023-12-06T16:18
                  otoOrderID: 30798075
                  deliveryName: smsav2-2
                  transaction: shippingCost
                  status: booked
  /rest/v2/creditTransactions:
    get:
      operationId: creditTransactions
      summary: Credit Transactions
      tags:
      - Transactions
      description: 'This API endpoint provides a powerful way to retrieve credit transaction records from
        your system. This endpoint supports pagination for efficient data retrieval and allows filtering
        based on minimum and maximum dates. Additionally, if an orderId is provided, the maxDate and minDate
        parameters become optional, enabling direct access to transactions associated with the specified
        order. Request Parameters: Name Required Type Description perPage yes number Credit transaction
        count in the response. '
      parameters:
      - name: perPage
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: minDate
        in: query
        required: false
        schema:
          type: string
      - name: maxDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                success: true
                transactions:
                - amount: 19
                  orderID: '41590739'
                  deliveryCompanySettingsId: 5564
                  description: Shipment canceled. Delivery fees will be credited back to your account.
                  transactionDate: '2024-09-16T11:26:01'
                  orderPaymentType: cod
                  shipmentType: forward
                  transactionType: dcFee
                  remainingAmount: 85.9
                  deliveryCompanyName: Deliver Now
                  chargingType: charge
                  langKey: dcFeeShipmentCanceledRevokedDescription
                  shipmentID: DNL05000049328
                  ID: 8294185
                  otoOrderID: 10690509
                  status: revoked
                - amount: 18
                  orderID: OID-20980-1092
                  deliveryCompanySettingsId: 5551
                  description: Canceled shipment. Delivery fee credited back to your account.
                  transactionDate: '2024-09-24T10:40:43'
                  orderPaymentType: paid
                  shipmentType: forward
                  transactionType: dcFee
                  remainingAmount: 51.8
                  deliveryCompanyName: Aramex
                  chargingType: refund
                  langKey: dcFeeShipmentCanceledDescription
                  shipmentID: '50162082692'
                  ID: 8430556
                  otoOrderID: 10748485
                  status: canceled
                - amount: 0.9
                  orderID: '1203'
                  deliveryCompanySettingsId: 3022
                  description: OTO Fee Booked on shipment created
                  transactionDate: '2024-09-01T11:37:10'
                  orderPaymentType: cod
                  transactionType: otoFee
                  remainingAmount: 111.2
                  deliveryCompanyName: OTO FLEX
                  langKey: otoFeeSearchingDriverDescription
                  shipmentID: 0e073859
                  ID: 8057956
                  otoOrderID: 10248079
                  status: booked
        '400':
          description: 400 Invalid Date
          content:
            application/json:
              example:
                success: false
                otoErrorCode: '1107'
                otoErrorMessage: minDate or maxDate is missing or invalid
  /rest/v2/shipmentTransactions:
    get:
      operationId: shipmentTransactions
      summary: Shipment Transactions
      tags:
      - Transactions
      description: 'Shipment Transactions This API endpoint provides users with access to detailed information
        about shipment transactions. This API is designed to retrieve and display key transaction data,
        allowing users to monitor and review shipment-related activities.It retrieves shipment transactions
        with the option to paginate and filter by minimum and maximum dates. Note: If orderId exists maxDate
        and minDate are not required. If shipment number exists maxDate and minDate are not required.
        Request Parameters'
      parameters:
      - name: perPage
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: minDate
        in: query
        required: false
        schema:
          type: string
      - name: maxDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
                shipments:
                - shipmentNumber: 1231231AS
                  orderId: '123123'
                  shipmentCreationDate: '2023-12-05T06:47:46'
                  deliveryCompanyName: deliveryCompany
                  dcConnectionName: connectionName
                  shipmentType: Forward Shipment
                  dcCharge: 25
                  currency: TRY
                  originalWeight: 100
                  dcUpdatedWeight: 50
                  status: status
                  dcInvoiceNumber: 15579456
                - shipmentNumber: '12435356'
                  orderId: '342324234'
                  shipmentCreationDate: '2023-12-05T06:47:46'
                  deliveryCompanyName: deliveryCompany
                  dcConnectionName: connectionName
                  shipmentType: Forward Shipment
                  dcCharge: 40
                  currency: TRY
                  originalWeight: 40
                  dcUpdatedWeight: 5
                  status: status
                  dcInvoiceNumber: 21626353729823
                - shipmentNumber: '657567'
                  orderId: '34534534'
                  shipmentCreationDate: '2023-12-05T06:47:46'
                  deliveryCompanyName: deliveryCompany
                  dcConnectionName: connectionName
                  shipmentType: Forward Shipment
                  dcCharge: 60
                  currency: TRY
                  originalWeight: 80
                  dcUpdatedWeight: 80
                  status: status
                  dcInvoiceNumber: 21626353729823123213
                - shipmentNumber: '5423423'
                  orderId: '14335213'
                  shipmentCreationDate: '2023-12-05T06:47:46'
                  deliveryCompanyName: deliveryCompany
                  dcConnectionName: connectionName
                  shipmentType: Forward Shipment
                  dcCharge: 25
                  currency: TRY
                  originalWeight: 100
                  dcUpdatedWeight: 50
                  status: status
                  dcInvoiceNumber: 2162635372
  /rest/v2/register:
    post:
      operationId: register
      summary: Register
      tags:
      - Marketplace
      description: 'This API endpoint is just for marketplaces with multiple vendors . Marketplaces can
        register their vendors to OTO with this endpoint. It requires a special kind of token provided
        by OTO. Regular refresh tokens will not work here. If you are a market place you can use register
        endpoint to create an OTO account for your vendors. Request Parameters: Field Name Type Required
        Description country string Yes Country tag (e.g., “TR”, “SA”). city string Yes City tag (must
        match OTO city tags). companyNam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                success: true
                activationLink: https://login.tryoto.com/XYZ
                refreshToken: _refreshToken_
      security: []
  /rest/v2/clientInfo:
    post:
      operationId: clientInfo
      summary: Client Info
      tags:
      - Marketplace
      description: 'This API endpoint is just for marketplaces. Marketplaces can register their vendors
        to OTO with a special kind of token provided by OTO. Regular refresh tokens will not work here.
        If you are a marketplace and used register endpoint to create an OTO account for your vendors
        , you can get the information about the client you have registered. Request Parameters: Name Required
        Type Description email yes string registered email of client'
      requestBody:
        content:
          application/json:
            example:
              email: test30@tryoto.com
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                userActivated: 'false'
                remainingCredit: 0
                validityDate: 13-October-2028
                success: true
                refreshToken: _refreshToken_
    get:
      operationId: getClientInfo
      summary: Client Info
      tags:
      - Marketplace
      description: 'This API endpoint provides detailed information about a vendor''s account and its
        current status. This endpoint returns essential client-related data, including contact details,
        account balances, and service validity, enabling seamless integration for managing and monitoring
        client activities. Request Parameters: No request body parameters are required for this GET request.
        Response: { "remainingCredit": 10, "phone": "+966567130000", "validityDate": "11-01-2028", "success":
        true, "name": "test Co'
      responses:
        '200':
          description: Client Info
          content:
            application/json:
              example:
                remainingCredit: 10
                phone: '+966567130000'
                validityDate: 11-01-2028
                success: true
                name: test Company
                email: test@example.com
                refreshToken: _refreshToken_
  /rest/v2/createOrder:
    post:
      operationId: createOrder
      summary: Create Order
      tags:
      - Orders
      description: 'This API endpoint is a critical component in e-commerce and logistics systems, enabling
        external applications to initiate and manage new orders seamlessly. This endpoint allows you to
        submit order details, such as customer information, product data, shipping preferences, and payment
        methods. For KSA Shipments: If you are providing the sender and receiver short address codes,
        there is no need to include the city and address information. Note: If you send the createShipment:
        true parameter and the'
      requestBody:
        content:
          application/json:
            example:
              orderId: '1234'
              pickupLocationCode: jdd_wh
              createShipment: 'true'
              deliveryOptionId: 564
              payment_method: paid
              amount: 100
              amount_due: 0
              currency: SAR
              customsValue: '12'
              customsCurrency: USD
              packageCount: 2
              packageWeight: 1
              boxWidth: 10
              boxLength: 10
              boxHeight: 10
              orderDate: 31/12/2022 15:45
              deliverySlotDate: 31/12/2020
              deliverySlotTo: 12pm
              deliverySlotFrom: 2:30pm
              senderName: Sender Company
              customer:
                name: عبدالله الغامدي
                email: test@test.com
                mobile: '546607389'
                address: 6832, Abruq AR Rughamah District, Jeddah 22272 3330, Saudi Arabia
                district: Al Hamra
                city: Jeddah
                country: SA
                postcode: '12345'
                lat: '40.706333'
                lon: '29.888211'
                refID: '1000012'
              items:
              - productId: 112
                name: test product
                price: 100
                rowTotal: 100
                taxAmount: 15
                quantity: 1
                sku: test-product
                image: http://....
              - name: test product 2
                price: 100
                quantity: 1
                sku: test-product-2
            schema:
              type: object
      responses:
        '200':
          description: 200- Sender Information
          content:
            application/json:
              example:
                success: true
                otoId: 540789
        '400':
          description: 400- Split Order Wrong PickupLocationCode
          content:
            application/json:
              example:
                success: false
                warnings:
                - pickupLocation field exists in the items array, split order process begins
                - 'Both the order pickupLocationCode and item''s pickupLocationCode do not exist. Split
                  order process has been revoked '
                otoErrorCode: OTO1071
                otoErrorMessage: Item has pickupLocation array for split order process but the input is
                  invalid in the array.
  /rest/v2/updateOrder:
    post:
      operationId: updateOrder
      summary: Update Order
      tags:
      - Orders
      description: 'This API endpoint allows you update order info with this endpoint before shipment
        creation. If you created a shipment and need to update an information after that you have to cancel
        the shipment first then you can update. Request Parameters: Parameter Required Type Description
        orderId yes string Unique identifier of the Order deliveryOptionId no string Specifies the delivery
        option to be used for the shipment. customer yes object Customer Data( can not be used together
        with destinationLocationCo'
      requestBody:
        content:
          application/json:
            example:
              orderId: '202111081227'
              ref1: 1234ABCDE
              pickupLocationCode: '12364'
              deliveryOptionId: '12364'
              storeName: Brand A English
              payment_method: paid
              amount: 100
              amount_due: 0
              shippingAmount: 20
              subtotal: 100
              currency: SAR
              customsValue: '12'
              customsCurrency: USD
              shippingNotes: be careful. it is fragile
              packageSize: small
              packageCount: 2
              packageWeight: 1
              boxWidth: 10
              boxLength: 10
              boxHeight: 10
              orderDate: 30/12/2022 15:45
              deliverySlotDate: 31/12/2022
              deliverySlotTo: 12pm
              deliverySlotFrom: 2:30pm
              customer:
                name: عبدالله الغامدي
                email: test@test.com
                mobile: '546607389'
                address: 6832, Abruq AR Rughamah District, Jeddah 22272 3330, Saudi Arabia
                district: Al Hamra
                city: Riyadh
                country: SA
                postcode: '12345'
                lat: '40.706333'
                lon: '29.888211'
                refID: '1000012'
                W3WAddress: alarmed.cards.stuffy
              items:
              - productId: 112
                name: test product
                price: 100
                quantity: 1
                sku: test-product
                image: http://....
              - name: test product 2
                price: 100
                quantity: 1
                sku: test-product-2
                image: http://....
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
                message: Successfully updated
  /rest/v2/updateOrderStatus:
    post:
      operationId: updateOrderStatus
      summary: Update Order Status
      tags:
      - Orders
      description: 'This API endpoint allows you to modify the current status of an order within the system.
        You can update the order status to "delivered," "returned," if the order does not have an associated
        shipment. For "picked up" there should be an associated shipment. However, if a shipment exists,
        only statuses for integrator-managed shipments can be updated. Request Parameters: Name Required
        Type Description orderIds yes string Id of the order/s status yes string status of the shipment(delivered,
        returned,'
      requestBody:
        content:
          application/json:
            example:
              orderIds:
              - 30846946
              status: delivered
              date: '2024-08-06T21:00:00.000Z'
              description: aaaaaa
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                result:
                - {}
                - success: true
                  orderIds:
                  - '30846946'
  /rest/v2/cancelOrder:
    post:
      operationId: cancelOrder
      summary: Cancel Order
      tags:
      - Orders
      description: 'This API endpoint allows users to cancel an existing order under specific conditions.
        It ensures smooth and efficient handling of cancellations while maintaining the integrity of related
        processes. Important Note: If the order has an associated shipment, it cannot be canceled via
        this endpoint. Shipment-related restrictions ensure the system prevents conflicts or inconsistencies
        in ongoing fulfillment processes. Request Parameters: Name Required Type Description orderId yes(if
        there is no otoId)'
      requestBody:
        content:
          application/json:
            example:
              orderId: '1234'
            schema:
              type: object
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              example:
                success: true
  /rest/v2/orders:
    get:
      operationId: orders
      summary: Get Orders
      tags:
      - Orders
      description: 'This API endpoint is designed to provide a comprehensive overview of orders in your
        system. This endpoint returns detailed information about each order, including pickup locations,
        order IDs, item details, and current statuses. It enables seamless tracking and management of
        orders, ensuring better visibility and control. Request Parameters: Name Required Type Description
        perPage no number Order count in the response. Max limit 100 page no number Pagination number.
        You can iterate this field to g'
      parameters:
      - name: perPage
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: 200 OK-new
          content:
            application/json:
              example:
                perPage: 5
                totalPage: 1
                success: true
                orders:
                - skus: ''
                  orderId: OID-2476-70000203527-1
                  trackingURL: ''
                  reverseShipment: 'false'
                  totalDue: 0
                  quantities: ''
                  subTotal: 0
                  totalCount: 2
                  addressConfirm: notYet
                  customerPhone: '4563731231'
                  drivingDistance: 0
                  originCity: Al Kharj
                  currency: SAR
                  modifiedBy: Demo Niceone
                  customerReturnReason: test
                  id: '30824696'
                  deliveryDate: '2024-02-28 14:44:30'
                  shipmentNumber: ''
                  customerAddress: Unnamed Road 16464, Saudi Arabia
                  isReturnShipment: 'no'
                  amount: 700
                  grandTotal: 700
                  totalPage: 1
                  weight: 0.0001
                  destinationCountry: SA
                  customerName: Zeynep Alakuş
                  destinationCity: Al Kharj
                  deliverySlot: ''
                  district: Al Kharj
                  modifiedDate: '2024-09-23 13:04:29'
                  paymentMethod: paid
                  packageCount: 1
                  orderDate: '2024-02-01 11:19:55'
                  items:
                  - quantity: 5
                    productId: 591478
                    price: 80
                    name: Raincoat
                    taxAmount: 0
                    sku: '5'
                  - quantity: 3
                    productId: 591475
                    price: 100
                    name: 'Black Tayt '
                    taxAmount: 0
                    sku: '2'
                  status: delivered
                  customer:
                    country: SA
                    address: 8089, Salam Ibn Salim, 4314, Al Mughaisilah Dist., 42315, Madinah, Kingdom
                      of Saudi Arabia
                    district: Al Mughaisilah Dist.
                    city: Madinah
                    buildingNo: '8089'
                    street: Salam Ibn Salim
                    secondaryAddressNumber: '4314'
                    shortAddressCode: DMAJ8089
                    postcode: '42315'
                    name: Fatmanur Yavuz
                    mobile: '4563731231'
                    lon: 39.63739580725869
                    id: 1
                    state: Madinah Province
                    lat: 24.0783327
                - skus: '5'
                  orderId: OID-2476-70000203528-2
                  trackingURL: ''
                  reverseShipment: 'false'
                  totalDue: 0
                  quantities: '1'
                  pickupLocationCode: '10'
                  subTotal: 0
                  totalCount: 2
                  addressConfirm: notYet
                  customerPhone: '4563731231'
                  drivingDistance: 0
                  originCity: Al Kharj
                  currency: SAR
                  modifiedBy: Demo Niceone
                  id: '30824710'
                  deliveryDate: '2024-02-28 14:40:07'
                  shipmentNumber: ''
                  customerAddress: Unnamed Road 16464, Saudi Arabia
                  isReturnShipment: 'no'
                  amount: 80
                  grandTotal: 80
                  totalPage: 1
                  weight: 0.0001
                  pickupLocation: DefaultWH
                  destinationCountry: SA
                  customerName: Zeynep Alakuş
                  destinationCity: Al Kharj
                  deliverySlot: ''
                  modifiedDate: '2024-12-08 16:15:23'
                  paymentMethod: paid
                  packageCount: 1
                  orderDate: '2024-02-01 11:39:59'
                  items:
                  - quantity: 1
                    price: 80
                    name: Raincoat
                    taxAmount: 0
                    sku: '5'
                  status: delivered
                  customer:
                    country: SA
                    address: Unnamed Road 16464, Saudi Arabia
                    city: Al Kharj
                    name: ZeynepAlakuş
                    mobile: '4563731231'
                    lon: 47.5413839
                    id: 1
                    lat: 24.0783327
                currentPage: 1
                totalCount: 2
        '400':
          description: '400'
          content:
            application/json:
              example:
                success: false
                otoErrorCode: OTO1107
                otoErrorMessage: minDate or maxDate is missing or invalid
  /rest/v2/holdOrder:
    post:
      operationId: holdOrder
      summary: Hold Order
      tags:
      - Orders
      description: 'This API endpoint allows you to place an order on hold, temporarily pausing its processing.
        This is useful for scenarios such as payment verification, inventory issues, or customer requests.
        Request Parameters: Name Required Type Description orderId yes string Id of the order that you
        will place on hold. onHoldReason yes string Reason for being an order on hold. onHoldReasonLang
        yes string Values can be: eng, tr, ar. onHoldComment no string Reason or note explaining why the
        order is placed on ho'
      requestBody:
        content:
          application/json:
            example:
              orderId: OID-20980-1146
              onHoldReason: Fraud
              onHoldReasonLang: en
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
        '400':
          description: 400 missing reason config lang
          content:
            application/json:
              example:
                success: false
                otoErrorCode: OTO110
                otoErrorMessage: On Hold reason is is missing or invalid
  /rest/v2/unHoldOrder:
    post:
      operationId: unHoldOrder
      summary: Unhold Order
      tags:
      - Orders
      description: 'This API endpoint allows users to release orders that are currently on hold. This
        endpoint is designed to resume the processing of held orders, making them available for fulfillment
        or further actions in the order management workflow. Request Parameters: Name Required Type Description
        orderId yes string The orderId you want to unhold.'
      requestBody:
        content:
          application/json:
            example:
              orderId: OID-9616-98794
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                success: true
        '409':
          description: 400 not allowed status
          content:
            application/json:
              example:
                success: false
                otoErrorCode: OTO1103
                otoErrorMessage: Status of the order is not suitable for the action
  /rest/v2/orderDetails:
    get:
      operationId: orderDetails
      summary: Get Order Details
      tags:
      - Orders
      description: 'This API endpoint provides detailed information about a specific order. By using this
        endpoint, you can retrieve comprehensive data about an order including status updates. Request
        Parameters: Name Required Type Description orderId yes(if there is no otoId or ref1) string Id
        of the Order. otoId yes(if there is no orderId or ref1) string A unique id of the order generated
        by OTO. ref1 yes(if there is no orderId or otoId) string ref1 provided while create order.'
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                orderId: OID-50919-4346-C-C
                trackingURL: https://qa.tryoto.com/otoflex-tracking?enc=dXpMZTVNZCtMQStiOENERS83aVBYdHkwMFVPUDNnT21rM3VFbzRZbVREUGpRb3JZVXdpU1B3PT0=
                packageWeight: 1
                orderDocs: []
                dcName: OTO Flex
                originCity: Madinah
                currency: SAR
                id: 31078194
                amount: 215
                customsValue: 215
                pickupLocation: WH - Madinah
                deliveryOptionId: 55266
                destinationCity: Madinah
                amountDue: 0
                statusHistory:
                - date: '2026-02-18T12:15:31'
                  description: Created by m.pisgin enter
                  id: 55113452
                  status: new
                - date: '2026-02-18T12:15:31'
                  description: Created by m.pisgin enter
                  id: 55113453
                  status: assignedToWarehouse
                - date: '2026-02-18T12:16:05'
                  description: Order has picked by 50919
                  id: 55113456
                  status: assignedToWarehouse
                - date: '2026-02-18T12:16:05'
                  description: Order has picked by 50919
                  id: 55113457
                  status: assignedToWarehouse
                - date: '2026-02-18T12:16:05'
                  description: Order has missing item(s) in picking process
                  id: 55113458
                  status: assignedToWarehouse
                - date: '2026-02-18T12:18:00'
                  shipmentId: B1B45E0C
                  description: Shipment created by m.pisgin enter
                  id: 55113466
                  deliveryCompany: otoDriverApp
                  status: searchingDriver
                - date: '2026-02-23T11:37:11'
                  shipmentId: B1B45E0C
                  description: Order assigned to New_Driver_new by m.pisgin enter
                  id: 55135729
                  deliveryCompany: otoDriverApp
                  status: shipmentCreated
                shipmentId: B1B45E0C
                success: true
                customsCurrency: SAR
                packingStatusHistory:
                - date: 2026-04-07T11:09
                  description: Order is shipped  within dispatching unit 193 by picker3
                  packingStatus: shipped
                - date: '2026-02-18T12:19:16'
                  description: Order is packed by m.pisgin enter
                  packingStatus: packed
                paymentMethod: paid
                packageCount: 1
                orderDate: '2026-02-18 12:15:31'
                items:
                - quantity: 1
                  hscode: '1268'
                  rowTotal: 200
                  price: 200
                  id: 1
                  sku: Lenovo
                  taxAmount: 15
                status: shipmentCreated
                customer:
                  country: SA
                  address: DMGD2681, 2681, Abu Ammar Al Ghaesh, 6619, Al Barakah Dist., 42333, Madinah,
                    Kingdom of Saudi Arabia
                  city: Madinah
                  postcode: '42333'
                  mobile: '905459149187'
                  lon: 39.57451279
                  buildingNo: '2681'
                  street: Abu Ammar Al Ghaesh
                  secondaryAddressNumber: '6619'
                  district: Al Barakah Dist.
                  name: Muhammed PSGN
                  id: 1
                  state: Madinah Province
                  lat: 24.51820876
  /rest/v2/checkOrderAvailability:
    post:
      operationId: checkOrderAvailability
      summary: Check Order Availability
      tags:
      - Orders
      description: 'Check Order Availability This API endpoint allows you to check the availability of
        an order based on the provided orderId and associated ruleIds . Request Parameters Existing Order
        (with OrderID) The user provides an orderId (increment ID) that is already created in OTO. The
        system checks the availability of the order and returns the list of locations where it can be
        fulfilled. By default, the API considers all OMS rules while checking availability. Optionally,
        the user can provide specific OMS '
      requestBody:
        content:
          application/json:
            example:
              orderId: extra-test-10
              ruleIds:
              - b781d9e6-36da-4cd1-bf7d-f8604561ca6a
            schema:
              type: object
      responses:
        '200':
          description: 200- Order ID
          content:
            application/json:
              example:
                success: true
                locations:
                - locationName: Home - John Doe
                  distance: 2510.18
                  locationCoordinates:
                    lon: 46.70160836
                    lat: 24.7310685
                  locationCode: '123452'
                orderAvailability: 'Yes'
        '404':
          description: 404 Not Found
          content:
            application/json:
              example:
                success: false
                orderAvailability: 'No'
  /rest/v2/checkOTODeliveryFee:
    post:
      operationId: checkOTODeliveryFee
      summary: Check OTO Delivery Fee
      tags:
      - Shipping Prices
      description: 'This API endpoint calculates shipping prices offered by OTO rates. By providing the
        origin city, destination city, and package details (such as weight and dimensions), the API computes
        the price based on the provided request parameters. Important Note: The prices returned by this
        API are applicable only to shipping options available under OTO''s contracts. To calculate prices
        for your own custom contracts, please use the Check Delivery Fee API. You can see the shipping
        prices of delivery companie'
      requestBody:
        content:
          application/json:
            example:
              weight: '3'
              originCity: Riyadh
              destinationCity: Jeddah
              height: 30
              width: 30
              length: 30
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                traceId: 63545-73855-176.88.141.22-c4270220-89f8-4fe4-a645-2f82fb5c499d
                success: true
                deliveryCompany:
                - serviceType: sameDay
                  deliveryOptionName: Deliver Now
                  trackingType: excellent
                  score5: 4.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 3000
                  deliveryOptionId: 7109
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: delivernow
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 15
                  avgDeliveryTime: Same Day of Pickup Date
                  price: 16
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delivery-now.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 0.0% of the amount to be collected
                - serviceType: lockerDelivery
                  deliveryOptionName: Omni Llama
                  deliveryType: locker
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 1000
                  deliveryOptionId: 7252
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: omnillama
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://map.omnillama.net/
                  returnFee: 8
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to3WorkingDays
                  price: 8
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/omni-llama.png
                  currency: SAR
                  pickupDropoff: lockerDropOff
                - serviceType: pudo
                  deliveryOptionName: SPL PUDO
                  trackingType: excellent
                  deliveryType: pickupByCustomer
                  codCharge: 8
                  maxOrderValue: 10000
                  maxCODValue: 5000
                  deliveryOptionId: 7144
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: splUpds
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://splonline.com.sa/en/branches/
                  returnFee: 13
                  maxFreeWeight: 15
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 13
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/spl.jpg
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 1.75% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Delivery Support
                  score5: 4.4
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 7417
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: deliverysupport
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 13
                  maxFreeWeight: 15
                  avgDeliveryTime: sameDayPickUp
                  price: 13
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delivery-support.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: pudo
                  deliveryOptionName: Aramex PUDO
                  deliveryType: pickupByCustomer
                  codCharge: 6
                  maxOrderValue: 7000
                  maxCODValue: 0
                  deliveryOptionId: 7231
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-21'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://www.aramex.com/sa/en/find-aramex-office
                  returnFee: 15
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to5WorkingDays
                  price: 15
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.75% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Sent
                  score5: 4
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '11:00'
                  maxOrderValue: 5000
                  maxCODValue: 0
                  deliveryOptionId: 7490
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: sent
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 15
                  avgDeliveryTime: sameDayPickUp
                  price: 16
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2F6ac47fcf-548c-407f-b474-6a241f459a1b.png?generation=1737624142402900&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 2.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Roadlink Logistics
                  score5: 4.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 2500
                  maxCODValue: 0
                  deliveryOptionId: 7990
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: road-link
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to3WorkingDays
                  price: 16
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2Fd8fb28f0-2825-472e-9723-57672328ff36.png?generation=1747140104143959&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 2.0% of the amount to be collected
                - serviceType: pudo
                  deliveryOptionName: SMSA PUDO
                  deliveryType: pickupByCustomer
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 3750
                  deliveryOptionId: 7326
                  extraWeightPerKg: 2
                  needToVerifyCrDocStatus: true
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: smsaV2
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://www.smsaexpress.com/map-location
                  returnFee: 16.65
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 16.65
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/smsa-logo.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 4.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: iMile
                  score5: 3.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 4
                  pickupCutOffTime: '18:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 7147
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: imile
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 15
                  avgDeliveryTime: 2to3WorkingDays
                  price: 17
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2Fc1261774-f05c-4d74-a279-8dd22bbc4f5d.png?generation=1741461810060293&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 4.0 SAR plus 1.0% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: DELIVERIST Same Day
                  trackingType: excellent
                  score5: 4.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 3750
                  maxCODValue: 2500
                  deliveryOptionId: 7110
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-20'
                  deliveryCompanyName: deliveristLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 10
                  avgDeliveryTime: sameDayPickUp
                  price: 17
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/deliverist.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 2.5% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Shipa Delivery
                  trackingType: excellent
                  score5: 3.5
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 3750
                  maxCODValue: 3750
                  deliveryOptionId: 7098
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-20'
                  deliveryCompanyName: shipaV2
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 3 Working Days
                  price: 17
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/shipa.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 0.8% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: J&T Express
                  trackingType: excellent
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '16:00'
                  maxOrderValue: 6000
                  maxCODValue: 3000
                  deliveryOptionId: 7100
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: jtexpress
                  estimatedPickupDate: '2025-11-18'
                  checkAllBranches: https://www.jtexpress.me/KSA/service-points
                  returnFee: 18
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 18
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/jandt.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.9% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Yamamah
                  trackingType: excellent
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '11:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 8530
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: yamamahLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 18
                  maxFreeWeight: 15
                  avgDeliveryTime: Same Day of Pickup Date
                  price: 18
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/yamamah-express.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 2.5% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Aymakan
                  trackingType: excellent
                  score5: 4.4
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '17:00'
                  maxOrderValue: 5000
                  maxCODValue: 3000
                  deliveryOptionId: 7102
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: aymakan
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 18.9
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to3WorkingDays
                  price: 18.9
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aymakan.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Thabit Logistics
                  trackingType: excellent
                  score5: 4.5
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '13:00'
                  maxOrderValue: 3750
                  maxCODValue: 0
                  deliveryOptionId: 7099
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: thabit
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to2WorkingDays
                  price: 19
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/thabit.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 0.0% of the amount to be collected
                - serviceType: coldDelivery
                  deliveryOptionName: Delex
                  trackingType: excellent
                  score5: 3.8
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '10:00'
                  maxOrderValue: 500
                  maxCODValue: 500
                  deliveryOptionId: 7113
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: delexLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 12
                  avgDeliveryTime: 1to3WorkingDays
                  price: 19
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delex.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.0% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Linkers Express
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 2500
                  maxCODValue: 0
                  deliveryOptionId: 7949
                  extraWeightPerKg: 10
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: linkers-express
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 2
                  avgDeliveryTime: sameDayPickUp
                  price: 19
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2F6e03c097-102f-4716-a99a-c2834824385a.png?generation=1742721672764745&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: express
                  deliveryOptionName: Aramex
                  trackingType: excellent
                  score5: 4.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '14:00'
                  maxOrderValue: 7000
                  maxCODValue: 3750
                  deliveryOptionId: 7097
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://www.aramex.com/sa/en/find-aramex-office
                  returnFee: 19.26
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 19.26
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: freePickupDropoff
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.75% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Naqel Express
                  trackingType: excellent
                  score5: 4.6
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '16:00'
                  maxOrderValue: 5000
                  maxCODValue: 3500
                  deliveryOptionId: 7112
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: naqel
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19.8
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to4WorkingDays
                  price: 19.8
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/naqel.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 0.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: SMSA
                  trackingType: excellent
                  score5: 3.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 3750
                  deliveryOptionId: 7101
                  extraWeightPerKg: 1
                  needToVerifyCrDocStatus: true
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: secom
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://www.smsaexpress.com/map-location
                  returnFee: 19.98
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 19.98
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/smsa-logo.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 4.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: UPS
                  trackingType: excellent
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '14:00'
                  maxOrderValue: 5000
                  maxCODValue: 2000
                  deliveryOptionId: 7136
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: ups2
                  estimatedPickupDate: '2025-11-16'
                  returnFee: 20
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 20
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/ups.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.0% of the amount to be collected
                - serviceType: coldDelivery
                  deliveryOptionName: Adwar Cold
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 1000
                  maxCODValue: 1000
                  deliveryOptionId: 7410
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: adwarLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 21
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to3WorkingDays
                  price: 21
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/adwar.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: heavyAndBulky
                  deliveryOptionName: Aramex Heavy & Bulky
                  score5: 4.2
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 0
                  deliveryOptionId: 7898
                  estimatedDeliveryDate: '2025-11-21'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 27.26
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 27.26
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: heavyAndBulky
                  deliveryOptionName: Flow PL
                  trackingType: excellent
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '13:00'
                  maxOrderValue: 20000
                  maxCODValue: 0
                  deliveryOptionId: 7106
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: flowpl
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 52.2
                  maxFreeWeight: 30
                  avgDeliveryTime: 1to5WorkingDays
                  price: 52.2
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/flow.png
                  currency: SAR
                  pickupDropoff: freePickup
  /rest/v2/checkDeliveryFee:
    post:
      operationId: checkDeliveryFee
      summary: Check Delivery Fee
      tags:
      - Shipping Prices
      description: 'This API endpoint calculates contract-based pricing using your own rates. By providing
        the origin city, destination city, and package details such as weight and dimensions, the API
        determines the price based on the supplied parameters. Important Note: The prices returned by
        this API apply exclusively to your own contracts. Request Parameters: Name Required Type Description
        originCity yes string pickup city destinationCity yes string destination city weight yes number
        weight of package(kg) totalD'
      requestBody:
        content:
          application/json:
            example:
              weight: '50'
              totalDue: 10
              originCity: Riyadh
              destinationCity: Jeddah
              height: 170
              width: 50
              length: 50
            schema:
              type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              example:
                traceId: 63545-73855-176.88.141.22-c4270220-89f8-4fe4-a645-2f82fb5c499d
                success: true
                deliveryCompany:
                - serviceType: sameDay
                  deliveryOptionName: Deliver Now
                  trackingType: excellent
                  score5: 4.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 3000
                  deliveryOptionId: 7109
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: delivernow
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 15
                  avgDeliveryTime: Same Day of Pickup Date
                  price: 16
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delivery-now.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 0.0% of the amount to be collected
                - serviceType: lockerDelivery
                  deliveryOptionName: Omni Llama
                  deliveryType: locker
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 1000
                  deliveryOptionId: 7252
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: omnillama
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://map.omnillama.net/
                  returnFee: 8
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to3WorkingDays
                  price: 8
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/omni-llama.png
                  currency: SAR
                  pickupDropoff: lockerDropOff
                - serviceType: pudo
                  deliveryOptionName: SPL PUDO
                  trackingType: excellent
                  deliveryType: pickupByCustomer
                  codCharge: 8
                  maxOrderValue: 10000
                  maxCODValue: 5000
                  deliveryOptionId: 7144
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: splUpds
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://splonline.com.sa/en/branches/
                  returnFee: 13
                  maxFreeWeight: 15
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 13
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/spl.jpg
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 1.75% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Delivery Support
                  score5: 4.4
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 7417
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: deliverysupport
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 13
                  maxFreeWeight: 15
                  avgDeliveryTime: sameDayPickUp
                  price: 13
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delivery-support.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: pudo
                  deliveryOptionName: Aramex PUDO
                  deliveryType: pickupByCustomer
                  codCharge: 6
                  maxOrderValue: 7000
                  maxCODValue: 0
                  deliveryOptionId: 7231
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-21'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://www.aramex.com/sa/en/find-aramex-office
                  returnFee: 15
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to5WorkingDays
                  price: 15
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.75% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Sent
                  score5: 4
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '11:00'
                  maxOrderValue: 5000
                  maxCODValue: 0
                  deliveryOptionId: 7490
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: sent
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 15
                  avgDeliveryTime: sameDayPickUp
                  price: 16
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2F6ac47fcf-548c-407f-b474-6a241f459a1b.png?generation=1737624142402900&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 2.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Roadlink Logistics
                  score5: 4.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 2500
                  maxCODValue: 0
                  deliveryOptionId: 7990
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: road-link
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 16
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to3WorkingDays
                  price: 16
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2Fd8fb28f0-2825-472e-9723-57672328ff36.png?generation=1747140104143959&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 2.0% of the amount to be collected
                - serviceType: pudo
                  deliveryOptionName: SMSA PUDO
                  deliveryType: pickupByCustomer
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 3750
                  deliveryOptionId: 7326
                  extraWeightPerKg: 2
                  needToVerifyCrDocStatus: true
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: smsaV2
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://www.smsaexpress.com/map-location
                  returnFee: 16.65
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 16.65
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/smsa-logo.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 4.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: iMile
                  score5: 3.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 4
                  pickupCutOffTime: '18:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 7147
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: imile
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 15
                  avgDeliveryTime: 2to3WorkingDays
                  price: 17
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2Fc1261774-f05c-4d74-a279-8dd22bbc4f5d.png?generation=1741461810060293&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 4.0 SAR plus 1.0% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: DELIVERIST Same Day
                  trackingType: excellent
                  score5: 4.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 3750
                  maxCODValue: 2500
                  deliveryOptionId: 7110
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-20'
                  deliveryCompanyName: deliveristLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 10
                  avgDeliveryTime: sameDayPickUp
                  price: 17
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/deliverist.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 2.5% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Shipa Delivery
                  trackingType: excellent
                  score5: 3.5
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 3750
                  maxCODValue: 3750
                  deliveryOptionId: 7098
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-20'
                  deliveryCompanyName: shipaV2
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 17
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 3 Working Days
                  price: 17
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/shipa.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 0.8% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: J&T Express
                  trackingType: excellent
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '16:00'
                  maxOrderValue: 6000
                  maxCODValue: 3000
                  deliveryOptionId: 7100
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: jtexpress
                  estimatedPickupDate: '2025-11-18'
                  checkAllBranches: https://www.jtexpress.me/KSA/service-points
                  returnFee: 18
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 18
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/jandt.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.9% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Yamamah
                  trackingType: excellent
                  deliveryType: toCustomerDoorstep
                  codCharge: 3
                  pickupCutOffTime: '11:00'
                  maxOrderValue: 5000
                  maxCODValue: 5000
                  deliveryOptionId: 8530
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: yamamahLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 18
                  maxFreeWeight: 15
                  avgDeliveryTime: Same Day of Pickup Date
                  price: 18
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/yamamah-express.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 3.0 SAR plus 2.5% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Aymakan
                  trackingType: excellent
                  score5: 4.4
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '17:00'
                  maxOrderValue: 5000
                  maxCODValue: 3000
                  deliveryOptionId: 7102
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: aymakan
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 18.9
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to3WorkingDays
                  price: 18.9
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aymakan.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Thabit Logistics
                  trackingType: excellent
                  score5: 4.5
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '13:00'
                  maxOrderValue: 3750
                  maxCODValue: 0
                  deliveryOptionId: 7099
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: thabit
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to2WorkingDays
                  price: 19
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/thabit.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 0.0% of the amount to be collected
                - serviceType: coldDelivery
                  deliveryOptionName: Delex
                  trackingType: excellent
                  score5: 3.8
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '10:00'
                  maxOrderValue: 500
                  maxCODValue: 500
                  deliveryOptionId: 7113
                  extraWeightPerKg: 2
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: delexLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 12
                  avgDeliveryTime: 1to3WorkingDays
                  price: 19
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/delex.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.0% of the amount to be collected
                - serviceType: sameDay
                  deliveryOptionName: Linkers Express
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 2500
                  maxCODValue: 0
                  deliveryOptionId: 7949
                  extraWeightPerKg: 10
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: linkers-express
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19
                  maxFreeWeight: 2
                  avgDeliveryTime: sameDayPickUp
                  price: 19
                  logo: https://storage.googleapis.com/download/storage/v1/b/oto-v2-files/o/files%2F1%2Fimport%2F6e03c097-102f-4716-a99a-c2834824385a.png?generation=1742721672764745&alt=media
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: express
                  deliveryOptionName: Aramex
                  trackingType: excellent
                  score5: 4.7
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '14:00'
                  maxOrderValue: 7000
                  maxCODValue: 3750
                  deliveryOptionId: 7097
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  checkAllBranches: https://www.aramex.com/sa/en/find-aramex-office
                  returnFee: 19.26
                  maxFreeWeight: 10
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 19.26
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: freePickupDropoff
                  cardOnDeliveryPercentage: 6.0 SAR plus 1.75% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: Naqel Express
                  trackingType: excellent
                  score5: 4.6
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '16:00'
                  maxOrderValue: 5000
                  maxCODValue: 3500
                  deliveryOptionId: 7112
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-22'
                  deliveryCompanyName: naqel
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 19.8
                  maxFreeWeight: 10
                  avgDeliveryTime: 1to4WorkingDays
                  price: 19.8
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/naqel.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 6.0 SAR plus 0.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: SMSA
                  trackingType: excellent
                  score5: 3.9
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  maxOrderValue: 6000
                  maxCODValue: 3750
                  deliveryOptionId: 7101
                  extraWeightPerKg: 1
                  needToVerifyCrDocStatus: true
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: secom
                  estimatedPickupDate: '2025-11-16'
                  checkAllBranches: https://www.smsaexpress.com/map-location
                  returnFee: 19.98
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 19.98
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/smsa-logo.png
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 4.0% of the amount to be collected
                - serviceType: express
                  deliveryOptionName: UPS
                  trackingType: excellent
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 8
                  pickupCutOffTime: '14:00'
                  maxOrderValue: 5000
                  maxCODValue: 2000
                  deliveryOptionId: 7136
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-17'
                  deliveryCompanyName: ups2
                  estimatedPickupDate: '2025-11-16'
                  returnFee: 20
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to5WorkingDays
                  price: 20
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/ups.png
                  currency: SAR
                  pickupDropoff: freePickup
                  cardOnDeliveryPercentage: 8.0 SAR plus 0.0% of the amount to be collected
                - serviceType: coldDelivery
                  deliveryOptionName: Adwar Cold
                  score5: 5
                  deliveryType: toCustomerDoorstep
                  codCharge: 6
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 1000
                  maxCODValue: 1000
                  deliveryOptionId: 7410
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: adwarLogestechs
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 21
                  maxFreeWeight: 15
                  avgDeliveryTime: 1to3WorkingDays
                  price: 21
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/adwar.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: heavyAndBulky
                  deliveryOptionName: Aramex Heavy & Bulky
                  score5: 4.2
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '12:00'
                  maxOrderValue: 5000
                  maxCODValue: 0
                  deliveryOptionId: 7898
                  estimatedDeliveryDate: '2025-11-21'
                  deliveryCompanyName: aramex
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 27.26
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 27.26
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/aramex.png
                  currency: SAR
                  pickupDropoff: freePickup
                - serviceType: heavyAndBulky
                  deliveryOptionName: Flow PL
                  trackingType: excellent
                  deliveryType: toCustomerDoorstep
                  codCharge: 0
                  pickupCutOffTime: '13:00'
                  maxOrderValue: 20000
                  maxCODValue: 0
                  deliveryOptionId: 7106
                  extraWeightPerKg: 1
                  estimatedDeliveryDate: '2025-11-18'
                  deliveryCompanyName: flowpl
                  estimatedPickupDate: '2025-11-17'
                  returnFee: 52.2
                  maxFreeWeight: 30
                  avgDeliveryTime: 1to5WorkingDays
                  price: 52.2
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/flow.png
                  currency: SAR
                  pickupDropoff: freePickup
  /rest/v2/getDeliveryFee:
    post:
      operationId: getDeliveryFee
      summary: Get Delivery Fee
      tags:
      - Shipping Prices
      description: 'This API endpoint calculates the shipping fee for a specific order in OTO. It offers
        two methods for price calculation: By Order ID: Provide the orderId, and the API will return all
        possible shipping rates for each defined shipping company. By Delivery Option ID: Provide the
        deliveryOptionId to calculate the shipping fee for a specific shipping company. You can get this
        information from checkOTODeliveryFee or from checkDeliveryFee endpoints. Request Parameters: Name
        Required Type Description ord'
      requestBody:
        content:
          application/json:
            example:
              orderId: OID-22700-1006
            schema:
              type: object
      responses:
        '200':
          description: 200 all options
          content:
            application/json:
              example:
                success: true
                deliveryCompany:
                - serviceType: pudo
                  deliveryOptionName: SPL PUDO
                  trackingType: excellent
                  codCharge: 8
                  maxOrderValue: 10000
                  maxCODValue: 5000
                  deliveryOptionId: 6927
                  extraWeightPerKg: 1
                  deliveryCompanyName: splUpds
                  returnFee: 13
                  maxFreeWeight: 15
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 13
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/spl.jpg
                  currency: SAR
                  pickupDropoff: dropoffOnly
                  cardOnDeliveryPercentage: 8.0 SAR plus 1.75% of the amount to be collected
                - serviceType: pudo
                  deliveryOptionName: SPL PUDO
                  trackingType: excellent
                  codCharge: 8
                  maxOrderValue: 10000
                  maxCODValue: 5000
                  deliveryOptionId: 6925
                  extraWeightPerKg: 1
                  deliveryCompanyName: splUpds
                  returnFee: 14
                  maxFreeWeight: 15
                  avgDeliveryTime: 1 to 2 Working Days
                  price: 14
                  logo: https://storage.googleapis.com/tryoto-public/delivery-logo/spl.jpg
                  currency: SAR
                  pickupDropoff: dropoffOnly
[...]
